body {
    background-color: rgb(53, 53, 53);
}

.maze_container {
    height: 30rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.row {
    height: 10%;
    width: 100%;
    display: flex;
}

.node {
    background-color: rgb(243, 190, 190);
    width: 5%;
    height: 100%;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: rgb(26, 61, 72);
    border-style: solid;
    transition: transform 0.2s;
}

.node:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.node1{
    background-color: rgb(23, 56, 218);
}

.node100{
    background-color: rgb(255, 0, 0);
}